// Mixin 

@mixin roboto {
    font-family: 'Roboto Serif', serif;
}

@mixin roboto {
    font-family: 'Quicksand', sans-serif;
}

// Mixin 

body {
    @include roboto;
}

// Variables
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

// Common
.inner-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}

